:root {
    --background-color-dark: #181818;
    --main-white: #fff;
    --main-blue: #4452FE;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    height: 12rem;
    width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-white);
}

.navbar-brand {
    text-align: center;
    height: 100%;
}

.brand-image {
    height: 100%;
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-item:not(:last-child) {
    margin-right: 5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-white);
    font-size: 1.6rem;
}

.btn {
    text-decoration: none;
    color: var(--main-white);
    display: inline-block;
}

.white-border-btn {
    border: 1px solid var(--main-white);
}

.btn-login {
    font-size: 1.7rem;
    padding: 1.5rem 5rem;
}

header {
    background-color: var(--background-color-dark);
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.heading {
    font-size: 9rem;
    font-weight: 500;
    line-height: 8.5rem;
    text-align: center;
    width: 73rem;
    color: var(--main-white);
    margin-bottom: 5rem;
}

.heading > span {
    display: block;
}

.sub-heading {
    color: var(--main-white);
    font-size: 2rem;
    width: 60rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 9.5rem;
}

.heading-btn-wrapper {
    margin-bottom: 3.5rem;
}

.blue-button {
    background-color: var(--main-blue);
}

.blue-button {
    font-size: 1.7rem;
    padding: 2rem 4rem;
    margin-right: 3.5rem;
}

.heading-btn {
    font-size: 1.7rem;
    padding: 2rem 4rem;
}

.header-screen {
    height: 85rem;
    position: relative;
}

.screen-img-1 {
    width: 50rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(-45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 - 15rem);
    left: calc(50% - 50rem / 2 - 1rem);
}

.screen-img-2 {
    width: 50rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 + 11rem);
    left: calc(50% - 50rem / 2 - 38rem);

}
.screen-img-3 {
    width: 55rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 + 12.4rem);
    left: calc(50% - 50rem / 2 + 34.8rem);

}


