:root {
    --background-color-dark: #181818;
    --main-white: #fff;
    --main-blue: #4452FE;
    --main-black: #000000;
    --main-gray: #5C5C5C;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    height: 12rem;
    width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-white);
}

.navbar-brand {
    text-align: center;
    height: 100%;
}

.brand-image {
    height: 100%;
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-item:not(:last-child) {
    margin-right: 5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-white);
    font-size: 1.6rem;
}

.btn {
    text-decoration: none;
    color: var(--main-white);
    display: inline-block;
}

.white-border-btn {
    border: 1px solid var(--main-white);
}

.btn-login {
    font-size: 1.7rem;
    padding: 1.5rem 5rem;
}

header {
    background-color: var(--background-color-dark);
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.heading {
    font-size: 9rem;
    font-weight: 500;
    line-height: 8.5rem;
    text-align: center;
    width: 73rem;
    color: var(--main-white);
    margin-bottom: 5rem;
}

.heading > span {
    display: block;
}

.sub-heading {
    color: var(--main-white);
    font-size: 2rem;
    width: 60rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 9.5rem;
}

.heading-btn-wrapper {
    margin-bottom: 3.5rem;
}

.blue-button {
    background-color: var(--main-blue);
}

.heading-blue-btn {
    font-size: 1.7rem;
    padding: 2.1rem 4rem;
    margin-right: 3.5rem;
}

.heading-btn {
    font-size: 1.7rem;
    padding: 2rem 4rem;
}

.header-screen {
    height: 85rem;
    position: relative;
}

.screen-img-1 {
    width: 50rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(-45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 - 15rem);
    left: calc(50% - 50rem / 2 - 1rem);
}

.screen-img-2 {
    width: 50rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 + 11rem);
    left: calc(50% - 50rem / 2 - 38rem);

}

.screen-img-3 {
    width: 55rem;
    height: 50rem;
    transform: rotateX(45deg) rotateZ(45deg);
    position: absolute;
    top: calc(50% - 50rem / 2 + 12.4rem);
    left: calc(50% - 50rem / 2 + 34.8rem);

}

.features, .contents, .gallery, .partners, .testimonials {
    background-color: var(--background-color-dark);
}

.f-wrapper, .c-wrapper, .g-wrapper, .p-wrapper, .t-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16rem;
    color: var(--main-white);
    padding-bottom: 5rem;
}

.w-heading {
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    font-weight: 400;
}

.w-subheading {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: .5px;
    text-align: center;
    font-weight: 400;
    width: 58rem;
    margin-bottom: 8rem;
}

.f-content {
    display: flex;
    justify-content: space-between;
}

.f-images {
    position: relative;
}

.f-main-img {
    width: 70rem;
}

.f-secondary-img {
    width: 40rem;
    position: absolute;
    left: 32rem;
    top: 49.5rem;
}

.f-description {
    margin-left: 8rem;
}

.f-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.f-description-heading {
    display: flex;
    margin: 2rem 0;

}

.f-description-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: .9rem;
}

#infinity {
    width: 4rem;
    height: 2rem;
}

.f-description-title {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: .5px;
    width: 15rem;
}

.f-container-subheading {
    width: 27rem;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: .5px;
    margin-bottom: 7rem;
}

.c-cards {
    display: flex
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 47.5rem;
    background-color: var(--main-white);
    color: var(--main-black);
}

.border-radius-1 {
    border-radius: 1rem;
}

.card-wrapper:not(:last-child) {
    margin-right: 3.5rem;
}

.card-title {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.card-description {
    width: 27rem;
    color: var(--main-gray);
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
}

.card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 16rem;
    height: 5rem;
    margin-bottom: 3rem;
}

.card-img {
    width: 38rem;
    margin-bottom: 4rem;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    margin-bottom: 4rem;
}

.g-photo{
    width: 34rem;
    margin: 2rem;
}
.partners-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.p-photo{
    height: 5rem;
    margin: 2rem 4rem;
}

.t-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100rem;
}

.t-card-container{
    width: 43rem;
    margin: 3rem;
    border: 1px solid var(--main-gray);
    border-radius: 1rem;
}

.user-container{
    display: flex;
    align-items: center;
    margin: 4rem 2rem 3rem 4rem;

}

.user-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.user-name{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.user-profession{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.user-opinion{
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: .5px;
    width: 32rem;
    margin: 0 0 4rem 4rem;
}